<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Millennium"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Game1"
        tools:targetApi="31">

        <activity android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".CheatSheet"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".TutorialPageFour"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TutorialPageThree"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TutorialPageTwo"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TutorialPageOne"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TheEnd"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StartActivityGreeceStageFive"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StartActivityEgyptStageFour"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StartActivityChinaStageThree"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StartActivityItalyStageTwo"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StartActivityJapanStageOne"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChapterFive"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChapterFour"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChapterThree"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChapterTwo"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityPractice2"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityGreeceStageFive"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityEgyptStageFour"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityChinaStageThree"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityItalyStageTwo"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityJapanStageOne"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityStages1"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityBeginning"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Tutorial"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActivityStart"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityPractice"
            android:exported="true"
            android:screenOrientation="landscape" />
    </application>

</manifest>